<!-- aboutme -->
<div id="aboutme" class="content_2">
    <!-- <h1 class="h-bloc">Publications</h1><br> -->
    <br>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12" id="research_page">
                <article id="post-2" class="research-article">  
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 post_media">
                                <div class="title_content">
                                    <div class="text_content">Education</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text_content_bullet">
                                        2021-202?, <strong>The University of Adelaide</strong>, Mathematics and Computer Sciences. <br>
                                        Working with <a href= https://scholar.google.com/citations?user=vmAe35UAAAAJ&hl=en target='_blank'>Dr. Simon Lucey</a>.
                                    </div>
                                    <div class="text_content_bullet">
                                        2017-2019, <strong>Carnegie Mellon University</strong>, Biomedical Engineering. <br>
                                        Working with <a href= https://www.cs.cmu.edu/~./choset/ target='_blank'>Dr. Howie Choset</a>, <a href= https://rarunsrivatsan.github.io/ target='_blank'>Dr. Arun Srivatsan Rangaprasad</a>, and <a href= https://metaslam.github.io/ target='_blank'>Dr. Peng Yin</a> in the <a href= https://biorobotics.ri.cmu.edu/index.php target='_blank'>Biorobotics Lab</a>.
                                    </div>
                                    <div class="text_content_bullet">
                                        2013-2017, <strong>Jilin University</strong>, Biotechnology (major), Comoputer and Application (minor). <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>     
                </article>
                
                <div class="clear"></div><br>

                <article id="post-1" class="research-article">  
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 post_media">
                                <div class="title_content">
                                    <div class="text_content">Working Experience</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text_content_bullet">
                                        2020-2022, Research intern at <strong>Argo AI</strong>, working with <a href= https://scholar.google.com/citations?user=vmAe35UAAAAJ&hl=en target='_blank'>Dr. Simon Lucey</a> and 
                                        <a href=https://jhonykaesemodel.com/ target='_blank'> Dr. Jhony Kaesemodel Pontes</a>.
                                    </div>
                                    <div class="text_content_bullet">
                                        2019-2020, Research intern at <strong>Robotics Institute, CMU</strong>, working with <a href= https://scholar.google.com/citations?user=vmAe35UAAAAJ&hl=en target='_blank'>Dr. Simon Lucey</a> at <a href= https://www.ci2cv.net/ target='_blank'>CI2CV</a> lab.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                
            <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    </div>
    <!-- End .profile -->