<!-- .academic -->
<div id="academic" class="content_2">
<h1 class="h-bloc">Academic Project</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page academic -->
        <div class="col-md-12" id="academic_page">
            <!-- start Page academic -->
            <section id="academic-page">

                <!-- Post 3-academic -->
                <article id="post-3-academic" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content"> Using Deep Kernels in Time Varying Networks for 
                                    Reverse-Engineering of Gene Interaction (Course: Probabilistic Graphical Models)</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://docs.google.com/gview?url=https://github.com/Lilac-Lee/Lilac-Lee.github.io/raw/master/documents/03_deep_kernel_poster.pdf&embedded=true' target='_blank'> poster </a></li>
                                    <li><a href='https://docs.google.com/gview?url=https://github.com/Lilac-Lee/Lilac-Lee.github.io/raw/master/documents/03_deep_kernel_report.pdf&embedded=true' target='_blank'> report </a></li>
                                </ul>

                                <div class="research-content">
                                    <p>We explore the performance of deep kernels on graphical models, 
                                    which incorporates both the structural properties of deep learning architectures 
                                    with non-parametric flexibility of kernels.
                                    In our project, we aim to solve the task of reverse-engineering of gene interaction. 
                                    Inspired by KELLER, Pairwise MRF is used to model interactions between genes. 
                                    Deep kernels, constructed from neural network and LSTM are used for learning 
                                    parameters of the Pairwise MRF.
                                    </p>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-3-academic" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-3-academic" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-3-academic" data-slide-to="1"></li>
                                                <li data-target="#carousel-3-academic" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/academic/kernel/result_01.png" alt="" />
                                                </div>


                                                <div class="item">
                                                    <img src="images/academic/kernel/result_02.png" alt="" />
                                                </div>

                                                <div class="item">
                                                    <img src="images/academic/kernel/result_03.png" alt="" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-3-academic" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-3-academic" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 3-academic -->

                <!-- Post 2-academic -->
                <article id="post-2-academic" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Purcue Playing with Polar Bear (Course: Computer Vision)</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://docs.google.com/gview?url=https://github.com/Lilac-Lee/Lilac-Lee.github.io/raw/master/documents/02_Purcue_presentation.pdf&embedded=true' target='_blank'> presentation </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=p0SvxZoDvLQ&feature=youtu.be' target='_blank'> video </a></li>
                                </ul>

                                <div class="research-content">
                                    <p>Instead of using the raw image to do Lucas-Kanade tracking, I utilize Difference of Gaussian
                                    Pyramid features to do efficient tracking of 2 images of Purcue.
                                    I estimate the intrinsic of the camera and perform 3D reconstruction of Purcue.
                                    With the combination of Lucas-Kanada algorithm, random affine warp to the point cloud,
                                    my Purcue is now playing with polar bear in the video.
                                    </p>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2-academic" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-2-academic" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-2-academic" data-slide-to="1"></li>
                                                <li data-target="#carousel-2-academic" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/academic/Purcue/result_01.png" alt="" />
                                                </div>


                                                <div class="item">
                                                    <img src="images/academic/Purcue/result_02.png" alt="" />
                                                </div>

                                                <div class="item">
                                                    <img src="images/academic/Purcue/result_03.png" alt="" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-2-academic" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-2-academic" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 2-academic -->

                <!-- Post 1-academic -->
                <article id="post-1-academic" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Navigation in Wild World (Course: Deep RL and Control)</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://docs.google.com/gview?url=https://raw.githubusercontent.com/Lilac-Lee/Lilac-Lee.github.io/master/documents/01_grid_world_navigation_poster.pdf&embedded=true' target='_blank'> poster </a></li>
                                    <li><a href='https://docs.google.com/gview?url=https://github.com/Lilac-Lee/Lilac-Lee.github.io/raw/master/documents/01_grid_world_navigation_report.pdf&embedded=true' target='_blank'> report </a></li>
                                </ul>

                                <div class="research-content">
                                    <p>We apply Double DQN, Dueling DQN, A2C, A3C, DDPG to the grid-world navigation problem
                                    with various reward reshaping techniques and different inputs.
                                    Though scent perception can yield good performance for Double DQN and Dueling DQN,
                                    adding vision perception helps refine the prediction.
                                    A2C, A3C and DDPG is not suitable for this discrete grid-world setting.
                                    </p>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1-academic" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1-academic" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1-academic" data-slide-to="1"></li>
                                                <li data-target="#carousel-1-academic" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/academic/navigation/result_01.png" alt="" />
                                                </div>


                                                <div class="item">
                                                    <img src="images/academic/navigation/result_02.png" alt="" />
                                                </div>

                                                <div class="item">
                                                    <img src="images/academic/navigation/result_03.png" alt="" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1-academic" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1-academic" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1-academic -->

            </section>

            <!-- End Page academic -->
        </div>
    </div>
</div>
</div>
<!-- End .academic -->