<!-- have fun -->
<div id="have_fun" class="content_2">
<h1 class="h-bloc">Have fun</h1><br>


<!-- Photo Grid -->
<div class="row_fun"> 
  <div class="column_fun">
    <a href="https://www.baidu.com" target='_blank'><img src="images/academic/navigation/result_01.png" style="width:30%"></a>
    <img src="images/research/pcrnet/result_02.png" style="width:30%">
    <img src="images/academic/navigation/result_03.png" style="width:30%">
    <img src="images/academic/navigation/result_01.png" style="width:100%">
    <img src="images/academic/navigation/result_02.png" style="width:100%">
    <img src="images/academic/navigation/result_03.png" style="width:100%">
    <img src="images/academic/navigation/result_01.png" style="width:100%">
  </div>
  <div class="column_fun">
    <img src="/w3images/underwater.jpg" style="width:100%">
    <img src="/w3images/ocean.jpg" style="width:100%">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/mountainskies.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/underwater.jpg" style="width:100%">
  </div>  
  <div class="column_fun">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/falls2.jpg" style="width:100%">
    <img src="/w3images/paris.jpg" style="width:100%">
    <img src="/w3images/nature.jpg" style="width:100%">
    <img src="/w3images/mist.jpg" style="width:100%">
    <img src="/w3images/paris.jpg" style="width:100%">
  </div>
  <div class="column_fun">
    <img src="/w3images/underwater.jpg" style="width:100%">
    <img src="/w3images/ocean.jpg" style="width:100%">
    <img src="/w3images/wedding.jpg" style="width:100%">
    <img src="/w3images/mountainskies.jpg" style="width:100%">
    <img src="/w3images/rocks.jpg" style="width:100%">
    <img src="/w3images/underwater.jpg" style="width:100%">
  </div>
</div>

