<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Have Fun</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">
    
        <!-- #portfoliolist -->
        <div id="portfoliolist">
            <!-- .portfolio -->
            <div class="portfolio logo" data-cat="logo">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a class='text-href' href="https://drive.google.com/uc?id=1NSsGXb3b5DYZPlOyXNCyDeb1c54E2UJr" rel="portfolio"
                    title="This benchmark evaluates how well descriptors (both 2D and 3D) can establish correspondences between RGB-D frames of different views. 
                    The dataset contains 2D RGB-D patches and 3D patches (local TDF voxel grid volumes) of wide-baselined correspondences, which are sampled from our testing split of the RGB-D 
                    reconstruction datasets. The pixel size of each 2D patch is determined by the projection of the 0.3m3 local 3D patch around the interest point onto the image plane. 
                    We provide Matlab code for generating similar correspondence datasets here. Although our baselines are 3D approaches that use depth information only, we are also looking for
                     descriptor algorithms (2D or 3D) that leverage color information or both modalities.">
                     <!-- <a href="https://drive.google.com/uc?id=1NSsGXb3b5DYZPlOyXNCyDeb1c54E2UJr" rel="portfolio"
                     data-title="This benchmark evaluates how well descriptors (both 2D and 3D) can establish correspondences between RGB-D frames of different views. 
                    The dataset contains 2D RGB-D patches and 3D patches (local TDF voxel grid volumes) of wide-baselined correspondences, which are sampled from our testing split of the RGB-D 
                    reconstruction datasets. The pixel size of each 2D patch is determined by the projection of the 0.3m3 local 3D patch around the interest point onto the image plane. 
                    We provide Matlab code for generating similar correspondence datasets here. Although our baselines are 3D approaches that use depth information only, we are also looking for
                     descriptor algorithms (2D or 3D) that leverage color information or both modalities."> -->

                        <img src="https://drive.google.com/uc?id=1MIn7PLa4-aXO5n45rapjbxkgU1rV8Lkv" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">	
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">		
                    <a href="https://drive.google.com/uc?id=1NSsGXb3b5DYZPlOyXNCyDeb1c54E2UJr" rel="portfolio">
                        <img src="https://drive.google.com/uc?id=1NSsGXb3b5DYZPlOyXNCyDeb1c54E2UJr" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>		
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catWeb" data-cat="catWeb">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">			
                    <a href="https://drive.google.com/uc?id=1NSsGXb3b5DYZPlOyXNCyDeb1c54E2UJr" rel="portfolio">
                        <img src="https://drive.google.com/uc?id=1NSsGXb3b5DYZPlOyXNCyDeb1c54E2UJr" alt="Sonor's Design" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Project Name</a>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>				
            <!-- /.portfolio -->

            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->