<!-- publications -->
<div id="publications" class="content_2">
<!-- <h1 class="h-bloc">Publications</h1><br> -->
<br>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12" id="research_page">
            <article id="post-2" class="research-article">  
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 post_media">
                            <div class="title_content">
                                <div class="text_content">Conference & arXiv</div>
                                <div class="clear"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="text_content_bullet">
                                    Jianqiao Zheng, <strong>Xueqian Li</strong>, Simon Lucey. <a href='https://arxiv.org/pdf/2401.12511.pdf' target='_blank'>
                                    Convolutional Initialization for Data-Efficient Vision Transformers.</a> <strong>arXiv preprint</strong>.
                                </div>
                                <div class="text_content_bullet">
                                    Kavisha Vidanapathirana, Shin-Fang Ch'ng, <strong>Xueqian Li</strong>, Simon Lucey.
                                    <a href='https://arxiv.org/pdf/2310.10301.pdf' target='_blank'>
                                    Multi-Body Neural Scene Flow.</a> <font color="#FF0000"><strong>3DV 2023 (Oral)</strong></font>
                                </div>
                                <div class="text_content_bullet">
                                    Jianqiao Zheng, <strong>Xueqian Li</strong>, Sameera Ramasinghe, Simon Lucey. <a href='https://arxiv.org/pdf/2309.00339.pdf' target='_blank'>
                                    Robust Point Cloud Processing through Positional Embedding.</a> <strong>3DV 2024</strong>
                                </div>
                                <div class="text_content_bullet">
                                    <strong>Xueqian Li</strong>, Jianqiao Zheng, Francesco Ferroni, Jhony Kaesemodel Pointes, Simon Lucey.
                                    <a href='https://arxiv.org/pdf/2304.09121.pdf' target='_blank'>
                                    Fast Neural Scene Flow.</a> <strong>ICCV 2023</strong>
                                </div>
                                <div class="text_content_bullet">
                                    Jianqiao Zheng, Sameera Ramasinghe, <strong>Xueqian Li</strong>, Simon Lucey.
                                    <a href='https://arxiv.org/pdf/2205.08987.pdf' target='_blank'>
                                    Trading Positional Complexity vs. Deepness in Coordinate Networks.</a> <strong>ECCV 2022</strong>
                                </div>
                                <div class="text_content_bullet">
                                    Chaoyang Wang, <strong>Xueqian Li</strong>, Jhony Kaesemodel Pointes, Simon Lucey.
                                    <a href='https://openaccess.thecvf.com/content/CVPR2022/papers/Wang_Neural_Prior_for_Trajectory_Estimation_CVPR_2022_paper.pdf' 
                                    target='_blank'>Neural Prior for Trajectory Estimation.</a> <strong>CVPR 2022</strong>
                                </div>
                                <div class="text_content_bullet">
                                    <strong>Xueqian Li</strong>, Jhony Kaesemodel Pointes, Simon Lucey.
                                    <a href='https://arxiv.org/pdf/2111.01253.pdf' target='_blank'>Neural Scene Flow Prior.</a> 
                                    <font color="#FF0000"><strong>NeurIPS 2021 (Spotlight)</strong></font>
                                </div>
                                <div class="text_content_bullet">
                                    <strong>Xueqian Li</strong>, Jhony Kaesemodel Pointes, Simon Lucey.
                                    <a href='https://arxiv.org/pdf/2008.09527.pdf' target='_blank'>PointNetLK Revisited.</a> 
                                    <font color="#FF0000"><strong>CVPR 2021 (Oral)</strong></font>
                                </div>
                                <div class="text_content_bullet">
                                    Vinit Sarode*, <strong>Xueqian Li</strong>*, Hunter Goforth, Yasuhiro Aoki, Animesh Dhagat, Arun R. Srivatsan, Simon Lucey, Howie Choset.
                                    <a href='https://arxiv.org/pdf/1912.05766.pdf' target='_blank'>One Framework to Register Them All: PointNet Encoding for Point Cloud Alignment.</a> <strong>arXiv preprint</strong>. 
                                    (* equal contribution)
                                </div>
                                <div class="text_content_bullet">
                                    Vinit Sarode*, <strong>Xueqian Li</strong>*, Hunter Goforth, Yasuhiro Aoki, Arun R. Srivatsan, Simon Lucey, Howie Choset.
                                    <a href='https://arxiv.org/pdf/1908.07906.pdf' target='_blank'>PCRNet: Point Cloud Registration Network using PointNet Encoding.</a> <strong>arXiv preprint</strong>. 
                                    (* equal contribution)
                                </div>
                                <div class="text_content_bullet">
                                    Peng Yin, Lingyun Xu, <strong>Xueqian Li</strong>, Yin Chen, Yingli Li, R. Arun Srivatsan, Lu Li, Jianmin Ji, and Yuqing He.
                                    <a href='https://ieeexplore.ieee.org/document/8793752' target='_blank'>A Multi-Domain Feature Learning Method for Visual Place Recognition.</a> <strong>ICRA 2019</strong>
                                </div>
                                <div class="text_content_bullet">
                                    Peng Yin, R. Arun Srivatsan, Yin Chen, <strong>Xueqian Li</strong>, Hongda Zhang, Lingyun Xu, Lu Li, Zhenzhong Jia, Jiamin Ji and Yuqing He.
                                    <a href='https://ieeexplore.ieee.org/document/8793853' target='_blank'>MRS-VPR: a multi-resolution sampling based global visual place recognition method.</a><strong> ICRA 2019</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>     
            </article>
        
            <article id="post-1" class="research-article">  
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 post_media">
                            <div class="title_content">
                                <div class="text_content">Journal</div>
                                <div class="clear"></div>
                            </div>
                            <div class="col-md-12">
                                <div class="text_content_bullet">
                                    Huiqiang Feng, Guihua Li, Shunwen Du, Song Yang, <strong>Xueqian Li</strong>, Paul de Figueiredo, Qing-Ming Qin. (2017). 
                                    <a href='https://onlinelibrary.wiley.com/doi/epdf/10.1111/1462-2920.13613' target='_blank'>
                                    The septin protein S ep4 facilitates host infection by plant fungal pathogens via mediating initiation of infection structure formation.</a> 
                                    <strong>Environmental Microbiology</strong>, 19(5), 1730-1749. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

        <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
</div>
<!-- End .profile -->