<!-- publications -->
<div id="publications" class="content_2">
<h1 class="h-bloc">Publications</h1><br>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12" id="research_page">
            <article id="post-2" class="research-article">  
                <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 post_media">
                                <div class="title_content">
                                    <div class="text_content">Conference & arXiv</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="text_content_p"><strong>Xueqian Li</strong>, Jhony Kaesemodel Pointes, Simon Lucey.
                                <a href='https://arxiv.org/pdf/2008.09527v2.pdf' target='_blank'>PointNetLK Revisited</a> <strong>CVPR 2021 (oral)</strong> </div>
                                <div class="text_content_p">Vinit Sarode*, <strong>Xueqian Li</strong>*, Hunter Goforth, Yasuhiro Aoki, Animesh Dhagat, Arun R. Srivatsan, Simon Lucey, Howie Choset.
                                <a href='https://arxiv.org/pdf/1912.05766.pdf' target='_blank'>One Framework to Register Them All: PointNet Encoding for Point Cloud Alignment</a> <strong>arXiv preprint</strong> arXiv:1912.05766. 
                                (* equal contribution)</div>
                                <div class="text_content_p">Vinit Sarode*, <strong>Xueqian Li</strong>*, Hunter Goforth, Yasuhiro Aoki, Arun R. Srivatsan, Simon Lucey, Howie Choset.
                                <a href='https://arxiv.org/pdf/1908.07906.pdf' target='_blank'>PCRNet: Point Cloud Registration Network using PointNet Encoding.</a> <strong>arXiv preprint</strong> arXiv:1908.07906. 
                                (* equal contribution)</div>
                                <div class="text_content_p">Peng Yin, Lingyun Xu, <strong>Xueqian Li</strong>, Yin Chen, Yingli Li, R. Arun Srivatsan, Lu Li, Jianmin Ji, and Yuqing He.
                                <a href='https://ieeexplore.ieee.org/document/8793752' target='_blank'>A Multi-Domain Feature Learning Method for Visual Place Recognition.</a> <strong>ICRA 2019</strong></div>
                                <div class="text_content_p">Peng Yin, R. Arun Srivatsan, Yin Chen, <strong>Xueqian Li</strong>, Hongda Zhang, Lingyun Xu, Lu Li, Zhenzhong Jia, Jiamin Ji and Yuqing He.
                                <a href='https://ieeexplore.ieee.org/document/8793853' target='_blank'>MRS-VPR: a multi-resolution sampling based global visual place recognition method.</a><strong> ICRA 2019</strong></div>
                            </div>
                        </div>
                    </div>     
            </article>

            <article id="post-1" class="research-article">  
                <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 post_media">
                                <div class="title_content">
                                    <div class="text_content">Journal</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="text_content_p">Huiqiang Feng, Guihua Li, Shunwen Du, Song Yang, <strong>Xueqian Li</strong>, Paul de Figueiredo, Qing-Ming Qin. (2017). 
                                <a href='https://onlinelibrary.wiley.com/doi/epdf/10.1111/1462-2920.13613' target='_blank'>
                                The septin protein S ep4 facilitates host infection by plant fungal pathogens via mediating initiation of infection structure formation.</a> 
                                <strong>Environmental Microbiology</strong>, 19(5), 1730-1749.</div>
                            </div>
                        </div>
                    </div>     
            </article>

        <div class="clear"></div>
        </div>
    </div>

</div>
<div class="clear"></div>
</div>
<!-- End .profile -->