<!-- publications -->
<div id="publications" class="content_2">
<h1 class="h-bloc">Publications</h1><br>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12" id="research_page">
            <article id="post-1" class="research-article">  
                <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 post_media">
                                <div class="title_content">
                                    <div class="text_content">Journal</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="text_content_p">Feng, H. Q., Li, G. H., Du, S. W., Yang, S., <strong>Xue-qian Li</strong>, de Figueiredo, P., Qin, Q. M. (2017). 
                                <a href='https://onlinelibrary.wiley.com/doi/epdf/10.1111/1462-2920.13613' target='_blank'>
                                The septin protein S ep4 facilitates host infection by plant fungal pathogens via mediating initiation of infection structure formation.</a> 
                                <strong>Environmental Microbiology</strong>, 19(5), 1730-1749.</div>
                            </div>
                        </div>
                    </div>     
            </article>

            <article id="post-2" class="research-article">  
                <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 post_media">
                                <div class="title_content">
                                    <div class="text_content">Conference</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="text_content_p">Successfully submitted a paper to <strong>AAAI</strong> as first author.</div>
                                <div class="text_content_p">Sarode, V.*, <strong>Xue-qian Li*</strong>, Goforth, H., Aoki, Y., Srivatsan, R. A., Lucey, S., Choset, H.. 
                                <a href='https://arxiv.org/pdf/1908.07906.pdf' target='_blank'>PCRNet: Point Cloud Registration Network using PointNet Encoding.</a> <strong>arXiv preprint</strong> arXiv:1908.07906. 
                                (* equal contribution)</div>
                                <div class="text_content_p">Yin, P., Xu, L., <strong>Xue-qian Li</strong>, Yin, C., Li, Y., Srivatsan, R. A., ... He, Y.. 
                                <a href='https://ieeexplore.ieee.org/document/8793752' target='_blank'>A Multi-Domain Feature Learning Method for Visual Place Recognition.</a> <strong>ICRA 2019</strong></div>
                                <div class="text_content_p">Yin, P., Srivatsan, R. A., Chen, Y., <strong>Xue-qian Li</strong>, Zhang, H., Xu, L., ... He, Y..
                                <a href='https://ieeexplore.ieee.org/document/8793853' target='_blank'>MRS-VPR: a multi-resolution sampling based global visual place recognition method.</a><strong> ICRA 2019</strong></div>
                      
                            </div>
                        </div>
                    </div>     
            </article>
        <div class="clear"></div>
        </div>
    </div>

</div>
<div class="clear"></div>
</div>
<!-- End .profile -->