<!-- .research -->
<div id="research" class="content_2">
<h1 class="h-bloc">Research Experience</h1><br> 

<div class="col-md-12">
    <div class="row">

        <!-- Page research -->
        <div class="col-md-12" id="research_page">
            <!-- start Page research -->
            <section id="research-page">

                {% comment %} <!-- Post 6 -->	
                <article id="post-6" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Sampling PNLK</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://arxiv.org/pdf/1908.07906.pdf' target='_blank'> arXiv </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=ae98PXaklG4&feature=youtu.be' target='_blank'> video </a></li>
                                    <li><a href=''> code </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">
                                    hi
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-6" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-6" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-6" data-slide-to="1"></li>
                                                <li data-target="#carousel-6" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/research/sampling-pnlk/result_01.png" alt="" />
                                                </div>


                                                <div class="item">
                                                    <img src="images/research/sampling-pnlk/result_02.png" alt="" />
                                                </div>

                                                <div class="item">
                                                    <img src="images/research/sampling-pnlk/result_03.png" alt="" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-6" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-6" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 6 --> {% endcomment %}


                <!-- Post 5 -->	
                <article id="post-5" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">PCRNet: Point Cloud Registration Network using PointNet Encoding</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://arxiv.org/pdf/1908.07906.pdf' target='_blank'> arXiv </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=ae98PXaklG4&feature=youtu.be' target='_blank'> video </a></li>
                                    <li><a href='https://github.com/vinits5/pcrnet' target='_blank'> code </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">We provide a novel framework to align point clouds that utilizes PointNet encoding.
                                    Our PCRNet uses data specific information to make accurate registration estimation,
                                    which is robust to noise and large initial misalignment between source point cloud and template point cloud.
                                    With single pass, PCRNet performs computationally faster than existing methods, 
                                    while iterative version of PCRNet can refine the registration result to make highly accurate prediction.
                                    Our framework can be applied further to 3D tracking, model replacement.</div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-5" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-5" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-5" data-slide-to="1"></li>
                                                <li data-target="#carousel-5" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/research/pcrnet/result_01.png" alt="" />
                                                </div>


                                                <div class="item">
                                                    <img src="images/research/pcrnet/result_02.png" alt="" />
                                                </div>

                                                <div class="item">
                                                    <img src="images/research/pcrnet/result_03.png" alt="" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-5" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-5" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 5 -->

                <div class="clear"></div>

                <!-- Post 4 -->
                <article id="post-4" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">A Multi-Domain Feature Learning Method for Visual Place Recognition</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://arxiv.org/pdf/1902.10058.pdf' target='_blank'> ICRA 2019 </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=dS028yXKNlw' target='_blank'> video </a></li>
                                    {% comment %} <li><a href=''> code </a></li> {% endcomment %}
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">We propose a multi-domain feature learning-based visual place recognition method with 2 modules:
                                    feature extraction module, which uses CapsuleNet to extract features under different circumstances; 
                                    feature separation module, which enforces a separation in environmental condition-invariant and condition-related domains. 
                                    Combining 2 modules through sequential matching, we can find potential match. </div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-4" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-4" data-slide-to="1"></li>
                                                <li data-target="#carousel-4" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/research/multi-domain/result_01.png" alt="" />
                                                </div>


                                                <div class="item">
                                                    <img src="images/research/multi-domain/result_02.png" alt="" />
                                                </div>

                                                <div class="item">
                                                    <img src="images/research/multi-domain/result_03.png" alt="" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-4" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-4" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 4 -->

                <div class="clear"></div>

                <!-- Post 3 -->
                <article id="post-3" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">MRS-VPR: A Multi-resolution Sampling-based Global Visual Place Recognition Method</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://arxiv.org/pdf/1902.10059.pdf' target='_blank'> ICRA 2019 </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=2Pu_4kDFtMI' target='_blank'> video </a></li>
                                    {% comment %} <li><a href=''> code </a></li> {% endcomment %}
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">In order to perform sequence matching between short-term testing frame and long-term reference frame in visual place recognition,
                                    we develop a multi-resolution sampling-based global search method with coarse-to-fine searching and particle filter, 
                                    which balances the matching accuracy and searching efficiency.
                                    By iteratively updating both potential trajectories and frame sequences through low resolution to high resolution,
                                    we can find the best match under the highest resolution level.</div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-3" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-3" data-slide-to="1"></li>
                                                <li data-target="#carousel-3" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/research/MRS-VPR/result_01.png" alt="" />
                                                </div>


                                                <div class="item">
                                                    <img src="images/research/MRS-VPR/result_02.png" alt="" />
                                                </div>

                                                <div class="item">
                                                    <img src="images/research/MRS-VPR/result_03.png" alt="" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-3" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-3" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 3 -->

                {% comment %} <!-- Post 2 -->
                <article id="post-2" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Mask3D: 3D Object Detection Using Masked VoxelNet</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='' target='_blank'> proposal </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=2Pu_4kDFtMI' target='_blank'> paper </a></li>
                                    <li><a href=''> code </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p"> We present a fast, robust, novel model for 3D object detection -- Mask3D, which can also provide additional information of instance reconstruction.
                                    Our Mask3D model extends the end-to-end VoxelNet by inserting an additional reconstruction module that takes advantage of deep learning-based 
                                    point-wise feature learning approach. 
                                    Our method can improve the prediction accuracy by forcing the deep neural network to generate denser point clouds through utilizing a point cloud
                                    reconstruction module.</div>
</p>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                                <li data-target="#carousel-2" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/research/mask_3d/result_01.png" alt="" />
                                                </div>


                                                <div class="item">
                                                    <img src="images/research/mask_3d/result_02.png" alt="" />
                                                </div>

                                                <div class="item">
                                                    <img src="images/research/mask_3d/result_03.png" alt="" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-2" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-2" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 2 --> {% endcomment %}

                <!-- Post 1 -->
                <article id="post-1" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Medical Tool Segmentation</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    {% comment %} <li><a href='https://arxiv.org/pdf/1902.10059.pdf' target='_blank'> presentation </a></li> {% endcomment %}
                                    <li><a href='https://www.youtube.com/watch?v=LZF8wz00_0k&feature=youtu.be' target='_blank'> video </a></li>
                                    {% comment %} <li><a href=''> code </a></li> {% endcomment %}
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p"> Using k-nearest neighbors search and several morphological operations on images, we develop an efficient method to collect
                                    data from da Vinci surgical robot with user interface.
                                    We implement different deep learning modules to do medical tool segmentation on different augmented data collected in our lab.
                                    After comparing several methods, we find a way to do accurate and real-time medical tool segmentation for 15-20 frames per second.</div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/research/medical_tool/result_01.png" alt="" />
                                                </div>


                                                <div class="item">
                                                    <img src="images/research/medical_tool/result_02.png" alt="" />
                                                </div>

                                                <div class="item">
                                                    <img src="images/research/medical_tool/result_03.png" alt="" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->

                {% comment %} <!-- Post 1-academic -->
                <article id="post-1-academic" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Navigation in Wild World (Course: Deep RL and Control)</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='' target='_blank'> poster </a></li>
                                    <li><a href='' target='_blank'> report </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">We apply Double DQN, Dueling DQN, A2C, A3C, DDPG to the grid-world navigation problem
                                    with various reward reshaping techniques and different inputs.
                                    Though scent perception can yield good performance for Double DQN and Dueling DQN,
                                    adding vision perception helps refine the prediction.
                                    A2C, A3C and DDPG is not suitable for this discrete grid world setting.
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1-academic" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1-academic" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1-academic" data-slide-to="1"></li>
                                                <li data-target="#carousel-1-academic" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/academic/navigation/result_01.png" alt="" />
                                                </div>


                                                <div class="item">
                                                    <img src="images/academic/navigation/result_02.png" alt="" />
                                                </div>

                                                <div class="item">
                                                    <img src="images/academic/navigation/result_03.png" alt="" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1-academic" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1-academic" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1-academic --> {% endcomment %}

            </section>

            <!-- End Page research -->
        </div>
    </div>
</div>
</div>
<!-- End .research -->