<!-- .research -->
<div id="research" class="content_2">
<!-- <h1 class="h-bloc">Research Experience</h1><br>  -->
<br>

<div class="col-md-12">
    <div class="row">

        <!-- Page research -->
        <div class="col-md-12" id="research_page">
            <!-- start Page research -->
            <section id="research-page">

                <!-- Post 10 -->	
                <article id="FastNSF" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Fast Neural Scene Flow</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://lilac-lee.github.io/FastNSF/' target='_blank'> ICCV 2023 </a></li>
                                    <li><a href='https://github.com/Lilac-Lee/FastNSF' target='_blank'> code </a></li>
                                    <li><a href='https://drive.google.com/file/d/1hZViB1jpU-o1LFCbSkX45GWWzJw-z5Xi/preview' target='_blank'> poster </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=4OsY_0iAI_I&feature=youtu.be' target='_blank'> video </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">
                                        Neural Scene Flow Prior (NSFP) is of significant interest to the vision community due to its inherent robustness to
                                        out-of-distribution (OOD) effects and its ability to deal with dense lidar points. 
                                        The approach utilizes a coordinate neural network to estimate scene flow at runtime, without any training. 
                                        However, it is up to 100 times slower than current state-of-the-art learning methods. 
                                        We rediscover the distance transform (DT) as an efficient, correspondence-free loss function that dramatically speeds up 
                                        the runtime optimization, allowing for the first time real-time performance comparable to learning methods.
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-10" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-10" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-10" data-slide-to="1"></li>
                                                <li data-target="#carousel-10" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="https://drive.google.com/uc?id=1BjwpjQx9xONfH8ah5iI2URYPHl6DBr0P" />
                                                </div>


                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1W1bgMVvJRmXJWCR9CJCiNPCBtLATM1Nk" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1_ri8kU1J0-PNK3bF4sT227tSQB1cOPwj" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-10" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-10" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 10 -->

                <!-- Post 9 -->	
                <article id="Complex PE" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Trading Positional Complexity vs. Deepness in Coordinate Networks</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://osiriszjq.github.io/complex_encoding/' target='_blank'> ECCV 2022 </a></li>
                                    <li><a href='https://github.com/osiriszjq/complex_encoding' target='_blank'> code </a></li>
                                    <!-- <li><a href='https://arxiv.org/pdf/2205.08987.pdf' target='_blank'> paper </a></li> -->
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">
                                        We use non-Fourier positional encodings (<i>e.g.</i>, shifted Gaussian functions)
                                        to show the signal reconstruction is determined by a trade-off between 
                                        the stable rank of the embedding and the distance preservation between embedded coordinates. 
                                        Furthermore, employing a complex positional encoding requires only a linear 
                                        (rather than deep) function to achieve comparable performance,
                                        while being orders of magnitude faster than current state-of-the-art.
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-9" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-9" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-9" data-slide-to="1"></li>
                                                <li data-target="#carousel-9" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="https://drive.google.com/uc?id=1i0du5h6HMK86-WSUyDYIUlsXbYerw59o" />
                                                </div>


                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1PeLoYxift2zICF_oDcAdMLuKYsPHEoYW" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=19duzlGRkCP4oSdlIt66nyjwZabgIBE43" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-9" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-9" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 9 -->

                <div class="clear"></div>

                <!-- Post 8 -->	
                <article id="NPT" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Neural Prior for Trajectory Estimation</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://mightychaos.github.io/projects/cvpr22/supplementary/supp.html' target='_blank'> CVPR 2022 </a></li>
                                    <li><a href='https://openaccess.thecvf.com/content/CVPR2022/papers/Wang_Neural_Prior_for_Trajectory_Estimation_CVPR_2022_paper.pdf' target='_blank'> paper </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">
                                    Traditionally, trajectories have been represented by a set of
                                    handcrafted bases that have limited expressibility. 
                                    Here, we propose a neural trajectory prior to capture continuous spatio-temporal information 
                                    without the need for offline data. 
                                    We demonstrate how our proposed objective is optimized during runtime to estimate trajectories
                                    for two important tasks: Non-Rigid Structure from Motion (NRSfM) and
                                    lidar scene flow integration for self-driving scenes. 
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-8" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-8" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-8" data-slide-to="1"></li>
                                                <li data-target="#carousel-8" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="https://drive.google.com/uc?id=191JXyRFP2QJuWWQIWUT7rtd06H4oBeAD" />
                                                </div>
                                                
                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1kkl1-VgQMYz0kdFMymR2DXUA50kAcAMj" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=191rsrd86vI4Xr-9-fWN-13cTntGE30fd" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-8" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-8" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 8 -->

                <div class="clear"></div>

                <!-- Post 7 -->	
                <article id="NSFP" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Neural Scene Flow Prior</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://lilac-lee.github.io/Neural_Scene_Flow_Prior' target='_blank'> NeurIPS 2021 (spotlight) </a></li>
                                    <li><a href='https://github.com/Lilac-Lee/Neural_Scene_Flow_Prior' target='_blank'> code </a></li>
                                    <li><a href='https://drive.google.com/file/d/1GrUhshiwhgaV42Jyh7EBu055EI9RtqNx/preview' target='_blank'> poster </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=WMcoLINtDYY&feature=youtu.be' target='_blank'> video </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">
                                    We propose a neural scene flow prior that
                                    utilizes the architecture of neural networks (MLPs) as an implicit regularizer. 
                                    Unlike learning-based scene flow methods, optimization occurs at runtime, 
                                    and our approach needs no offline datasets -- making it ideal for deployment in 
                                    new environments such as autonomous driving. 
                                    Also, the implicit and continuous scene flow representation allows us to estimate 
                                    dense long-term correspondences across a sequence of point clouds. 
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-7" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-7" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-7" data-slide-to="1"></li>
                                                <li data-target="#carousel-7" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="https://drive.google.com/uc?id=11eEdvQtm4A2nZY4ujPj-SXtlKAMqw3n9" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1GVMz-ljlXUKlx-r586jPh3EJ6yCOF6M3" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1WRNC7LpJstvobHmN6_jm2ky_qDGVxhtw" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-7" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-7" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 7 -->

                <div class="clear"></div>

                <!-- Post 6 -->	
                <article id="PointNetLK" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">PointNetLK Revisited</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://arxiv.org/pdf/2008.09527.pdf' target='_blank'> CVPR 2021 (oral) </a></li>
                                    <li><a href='https://github.com/Lilac-Lee/PointNetLK_Revisited.git' target='_blank'> code </a></li>
                                    <li><a href='https://drive.google.com/file/d/1KVlcwTo2dK7dDuPVsyR6QqOWtH7BYxLl/preview' target='_blank'> poster </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=L8dWTFryhLI&feature=youtu.be' target='_blank'> video </a></li>
                                    <li><a href='https://jhonykaesemodel.com/publication/pointnetlk-cvpr2021' target='_blank'> project </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">
                                    We revisit a recent innovation -- PointNetLK -- and show that the inclusion of an analytical Jacobian 
                                    can exhibit remarkable generalization properties while reaping the inherent fidelity benefits 
                                    of a learning framework. Our approach not only outperforms the state-of-the-art in mismatched conditions
                                    but also produces results competitive with current learning methods when operating on real-world test data close to the training set.
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-6" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-6" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-6" data-slide-to="1"></li>
                                                <li data-target="#carousel-6" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="https://drive.google.com/uc?id=1U4sLV8d_u5Kz5Z6O14rvbU46hJaEX59E" />
                                                </div>


                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1zuxR367QxfHwNAmQ81i5vO8T4SLIUtkj" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1oT9LxP_382Rurx1GUMpcrXwgbrIpMe77" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-6" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-6" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 6 -->

                <div class="clear"></div>

                <!-- Post 5 -->	
                <!-- <article id="One Framework" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">One Framework to Register Them All: PointNet Encoding for Point Cloud Alignment</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://arxiv.org/pdf/1912.05766.pdf' target='_blank'> arXiv </a></li>
                                    <li><a href='https://github.com/vinits5/pointnet-registration-framework' target='_blank'> code </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">
                                    We propose a novel framework that produces a couple of new approaches that improve upon the 
                                    state-of-the-art registration in some aspects. The existence of a suite of techniques that are
                                    dependent upon: (i) computation complexity, (ii) object specificity, (iii) noise, 
                                    (iv) choice of loss functions and (v) pose parametrization. The choice of technique largely 
                                    depends on the user’s requirement. All of these techniques can be unified into a single framework 
                                    which can serve as a starting point to researchers in this field.
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-5" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-5" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-5" data-slide-to="1"></li>
                                                <li data-target="#carousel-5" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="https://drive.google.com/uc?id=1Dcaag84XywiBzXKrrRCsM3L_KH6dThEq" />
                                                </div>


                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1zjhjKskbJr5lKtvjjSeMIbP8KsaNkldB" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1OD5CKKIjqriFI3lWjeHu5Ag5ObKTa0mD" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-5" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-5" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article> -->
                <!-- End Post 5 -->

                <!-- <div class="clear"></div> -->

                <!-- Post 4 -->	
                <article id="PCRNet" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">PCRNet: Point Cloud Registration Network using PointNet Encoding</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://arxiv.org/pdf/1908.07906.pdf' target='_blank'> arXiv </a></li>
                                    <li><a href='https://github.com/vinits5/pcrnet' target='_blank'> code </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=ae98PXaklG4&feature=youtu.be' target='_blank'> video </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">We provide a novel network to align point clouds that utilizes PointNet encoding.
                                    Our PCRNet uses data specific information to make accurate registration estimation,
                                    which is robust to noise and large initial misalignment between source point cloud and template point cloud.
                                    With single pass, PCRNet performs computationally faster than existing methods, 
                                    while iterative version of PCRNet can refine the registration result to make highly accurate prediction.
                                    Our PCRNet can be applied further to 3D tracking, model replacement.</div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-4" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-4" data-slide-to="1"></li>
                                                <li data-target="#carousel-4" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="https://drive.google.com/uc?id=1ndY2k0BLwwYhg7cf94AlAO5hfW7yOefn" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1abw3bkmQMad8sJxwoMuqxeCUtx1gB33x" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1MYMpHvWJWHmeTPdZ4pDSm5zF6ga9wmdw" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-4" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-4" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 4 -->

                <div class="clear"></div>

                <!-- Post 3 -->
                <article id="Multi-Domain" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">A Multi-Domain Feature Learning Method for Visual Place Recognition</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://arxiv.org/pdf/1902.10058.pdf' target='_blank'> ICRA 2019 </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=dS028yXKNlw' target='_blank'> video </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">We propose a multi-domain feature learning-based visual place recognition method with 2 modules:
                                    feature extraction module, which uses CapsuleNet to extract features under different circumstances; 
                                    feature separation module, which enforces a separation in environmental condition-invariant and condition-related domains. 
                                    Combining 2 modules through sequential matching, we can find potential match. </div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-3" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-3" data-slide-to="1"></li>
                                                <li data-target="#carousel-3" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="https://drive.google.com/uc?id=1hYqoRNcjLEoGtUOgvduPGyTr2w5yjElD" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1SzcNGBwoUuVXRUaN8vYnT-27LbZRpdi3" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=14q_7rVsmmlDtL0VTnE_tnpoSeLf8kC60" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-3" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-3" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 3 -->

                <div class="clear"></div>

                <!-- Post 2 -->
                <article id="MRS-VPR" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">MRS-VPR: A Multi-Resolution Sampling-based Global Visual Place Recognition Method</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://arxiv.org/pdf/1902.10059.pdf' target='_blank'> ICRA 2019 </a></li>
                                    <li><a href='https://www.youtube.com/watch?v=2Pu_4kDFtMI' target='_blank'> video </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p">In order to perform sequence matching between short-term testing frame and long-term reference frame in visual place recognition,
                                    we develop a multi-resolution sampling-based global search method with coarse-to-fine searching and particle filter, 
                                    which balances the matching accuracy and searching efficiency.
                                    By iteratively updating both potential trajectories and frame sequences through low resolution to high resolution,
                                    we can find the best match under the highest resolution level.</div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                                <li data-target="#carousel-2" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="https://drive.google.com/uc?id=1Kplqf3qqmLnJ0Gl6VHbLHLNhZViVeD_L" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1lpuuREvSbTg7b38Fr3pqjLBzO4ryXXCs" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1N2_H9SUf__wfKcIId9ew8wIri5eFrDCQ" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-2" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-2" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 2 -->

                <!-- Post 1 -->
                <article id="Medical" class="research-article">                    

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">

                                <div class="title_content">
                                    <div class="text_content">Medical Tool Segmentation</div>
                                    <div class="clear"></div>
                                </div>

                                <ul class="info">
                                    <li><a href='https://www.youtube.com/watch?v=LZF8wz00_0k&feature=youtu.be' target='_blank'> video </a></li>
                                </ul>

                                <div class="research-content">
                                    <div class="text_content_p"> Using k-nearest neighbors search and several morphological operations on images, we develop an efficient method to collect
                                    data from da Vinci surgical robot with user interface.
                                    We implement different deep learning modules to do medical tool segmentation on different augmented data collected in our lab.
                                    After comparing several methods, we find a way to do accurate and real-time medical tool segmentation for 15-20 frames per second.</div>
                                </div>

                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="https://drive.google.com/uc?id=1M2Z9k6OTmS76sbIKX1dFc3R_q4H7qDev" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1L2wEeTXWbFN6v_W9GNulUoc10dI5tlw7" />
                                                </div>

                                                <div class="item">
                                                    <img src="https://drive.google.com/uc?id=1Tdq4tuiTdbpXm3hkOrjKIyjH5Ku5LMY9" />
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->

            </section>

            <!-- End Page research -->
        </div>
    </div>
</div>
</div>
<!-- End .research -->